# ===== Зависимости бэкенда =====
# Ставятся командой:  pip install -r requirements.txt

fastapi==0.115.5          # сам веб-фреймворк
uvicorn[standard]==0.32.1 # сервер, который запускает FastAPI
sqlalchemy==2.0.36        # работа с базой данных
pydantic==2.10.3          # проверка входящих/исходящих данных
pydantic-settings==2.6.1  # чтение настроек из .env файла
python-dotenv==1.0.1      # подхватывает переменные из .env
